@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    --primary: #93dbe1;
    --secondary: #24878e;
    --background: #050e0e;
    --accent: #34c6d0;
    --text: #e4f5f6;
}

* {
    box-sizing: border-box;
    margin: 0;
    color: var(--text);
}

body {
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;
}

header {
    text-transform: uppercase;
    font-size: 24px;
    padding: 16px;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px dashed var(--secondary);
    background-color: var(--background);
}

main {
    margin: 16px;
}

ul {
    padding-left: 16px;
}

li {
    list-style: square;
}

section {
    display: flex;
    justify-content: center;
    margin: 16px;
    flex-wrap: wrap;
}

div {
    margin: 16px;
    padding: 16px;
    border: 1px solid var(--accent);
    border-radius: 16px;
    background-color: var(--secondary);
}

img {
    object-fit: cover;
    width: 230px;
    height: 230px;
    border-radius: 16px;
    transition: all ease 0.2s;
}

img:hover {
    transform: scale(1.5, 1.5);
}

.info div {
    display: inline-block;
}

div .text {
    vertical-align: top;
}

.card-content {
    word-break: normal;
}

@media(max-width: 768px) {
    div {
        flex-grow: 1;
    }
    header {
        text-align: center;
    }
}