main {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

section.about {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
}

.containerTitle {
    margin-bottom: 16px;
}

.aboutContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.imageContainer {
    width: 256px;
    border-radius: 16px;
    aspect-ratio: 1;
    border: 1px solid var(--accent);
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 0.2s;
}

.imageContainer img:hover {
    transform: scale(1.5, 1.5);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info ul, .info p {
    margin: 0;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid var(--accent);
}

.info ul {
    padding-left: 32px;
}

.info p {
    white-space: pre-wrap;
}

section.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

section.cards > div {
    width: 30%;
}

@media(max-width: 768px) {
    section.about {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .aboutContainer {
        flex-direction: column;
        align-items: center;
    }

    .containerTitle {
        text-align: center;
        margin-bottom: 16px;
    }

    .imageContainer img:active {
        transform: scale(1.5, 1.5);
    }

    section.about > div {
        width: 85%;
    }

    .skillsContainer {
        display: flex;
        flex-direction: column;
    }

    section.cards {
        flex-direction: column;
        gap: 8px;
    }

    section.cards > div {
        width: 85%;
    }
}