@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    color-scheme: light dark;
    --primary: #729292;
    --secondary: #a8c1c2;
    --background: #59a2a2;
    --accent: #8ab2b2;
    --text: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #6d8d8d;
        --secondary: #3d5657;
        --background: #0c1111;
        --accent: #4d7575;
        --text: #eff1f1;
    }
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin: 0;
}

ul {
    padding-left: 16px;
}

li {
    list-style: square;
}

.primary-bg {
    background-color: var(--primary);
}

.secondary-bg {
    background-color: var(--secondary);
}